/*Cabeçalho*/
.header{
    background: #485563; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #485563, #29323c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #485563, #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white !important;    
    text-align: center;
}

#header_pesquisa, #header_destaque{
    padding: 8px 16px;
    display: flex;
    align-items: center;
}

.header_area p{
    margin: 0px auto;
    font-size: 1.6rem;
}

.header_area .pesquisa{
    margin-left: 25%;
}

.navegacao{
    width: 100%;
}

.navegacao ul{
    margin-left: 30%;
    margin-right: 0px !important;
}

.navegacao a{
    padding: 0px;
    color: white !important;
}

.logo{
    padding: 0px;
    margin-left: 20px;
    margin-right: 0px;
    width: 60px;
}

.borda_item{
    border-right: 2px solid white;
}

@media screen and (max-width:700px){
    .header_area .pesquisa{
        margin-left: 10%;
    }
}

@media screen and (max-width:1200px){
    .navegacao ul{
        margin: 0 auto;
    }

    .borda_item{
        border-right: none;
    }

    .navegacao a{
        padding: 10px;        
        font-size: 1.2rem;
    }
}
